@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --font-accent: 'Bebas Neue', sans-serif;
  --font-serif: 'Cormorant Garamond', serif;
  --font-cartoon: 'Alfa Slab One', sans-serif;
}

  @layer utilities {
  .font-accent {
    font-family: var(--font-accent);
  }

  .font-serif {
    font-family: var(--font-serif);
  }

  .font-cartoon {
    font-family: var(--font-cartoon);
  }
}

html {
  /* scroll-snap-type: y mandatory; */
}

body {
  background-color: var(--background);
}

.container {
  max-width: 40rem;
}

@media (width >= 64rem) {
  .container {
    max-width: 55rem;
  }
}

@media (width >= 80rem) {
  .container {
    max-width: 70rem;
  }
}

@media (width >= 96rem) {
  .container {
    max-width: 90rem;
  }
}

