@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --font-accent: 'Bebas Neue', sans-serif;
  --font-serif: 'Cormorant Garamond', serif;
}

  @layer utilities {
  .font-accent {
    font-family: var(--font-accent);
  }

  .font-serif {
    font-family: var(--font-serif);
  }
}

body {
  background-color: var(--background);
}